{% extends "layout/base.html" %}

{% block head %}{{ super() }}{% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block menu %}{{ super() }}{% endblock %}

{% block content %}
  <h3 id="#h3_about">Alumni</h3>
  <p>The Alumni team at the team is focused on providing opportunities for Alumni to connect with current members on the team. The Alumni Committee publishes semesterly newsletters and hosts special events tailored to alumni throughout the year.</p>
      <h3>Get Involved</h3>
      <p>There are numerous opportunities for alumni to directly help the debate team. Dinos frequently can judge and house current W&M debaters at tournaments near them! There are also numerous mentorship opportunities through assistance in case development or help in professional searches. If you're interested in signing up for our newsletter or being contacted about possibilities to help the team, you can join our alumni registry <a href=#>here</a>.</p>
{% endblock %}

{% block footmenu %}{{ super() }}{% endblock %}