{% extends "layout/base.html" %}

{% block head %}{{ super() }}{% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block menu %}{{ super() }}{% endblock %}

{% block content %}
  <h3>Donate - W&amp;M Debate</h3>
  <p>This part of the website is currently under construction. Check back soon for more information!</p>
  <p> The William and Mary debate society is a student-run organization that subsists almost entirely on our own revenues. As part of a competative debate league we travel up and down the east coast every weekend, taking more than a hundred students to tournaments over the course of the semester. By donating to the society, you help ensure that we can establish an educational environment for new debaters, and better help them improve their skills in both parliamentary debate and discourse.
        <br><br>Mail-in contrubtions may be sent to:</p>
        <p id="block">The William and Mary Debate Society <br>
        CSU 2847 <br>
        110 Sadler Center <br>
        Williamsburg, VA 23185</p>
{% endblock %}

{% block footmenu %}{{ super() }}{% endblock %}