{% extends "layout/base.html" %}

{% block head %}{{ super() }}{% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block menu %}{{ super() }}{% endblock %}

{% block content %}
    <h3>Join - W&amp;M Debate</h3>
  <p>The Debate Society competes at tournaments every weekend and has regular practices on campus, so there are tons of opportunities to get involved! To become a member of the debate team, applications must go through a tryout process. The team does recruiting and tryouts at the start of each semester, but if you didn't hear about us, no worries! The Executive Board is more than happy to take applicants at any point during the semester. For more information about the tryout process, contact us at <a href="mailto:debateteam.wm@gmail.com">debateteam.wm@gmail.com</a>.</p>
{% endblock %}

{% block footmenu %}{{ super() }}{% endblock %}
